* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fdf9f9, #C87896); 

}

form#form-reserva {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fdf9f9; 
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(74, 20, 40, 0.1);
}

form#form-reserva input,
form#form-reserva textarea {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border: 1px solid #C87896; 
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #fff;
    color: #4A1428; 
}

form#form-reserva button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background-color: #993366; 
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form#form-reserva button:hover {
    background-color: #C87896; 
    transform: scale(1.05);
}
