* {
    font-family: "Comic Relief", system-ui;
}

h1 {
    text-align: center;
    color: #993366; /* vinho médio */
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 2px solid #000000;
    padding: 15px;
}

/* Cor de fundo para linhas ímpares */
tr:nth-child(odd) {
    background-color: #993366; /* vinho médio */
    color: #fff;
}

/* Cor de fundo para linhas pares */
tr:nth-child(even) {
    background-color: #fdf9f9; /* branco suave */
    color: #4A1428; /* vinho escuro */
}

/* Destacar a linha quando passar o mouse */
tr:hover {
    background-color: #C87896; /* vinho claro */
    color: #fff;
}
